<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">
<h2><u>COVID stats</u></h2>
<br>
<br>
<h5>Confirmed cases: {{Confirmed_cases}}</h5>
<h5>Hospitalized cases: {{Hospitalized_cases}}</h5>
<h5>Intensive care cases: {{Intensive_care_cases}}</h5>
<h5>Recovered cases: {{Recovered_cases}}</h5>
<h5>Deaths: {{Deaths}}</h5>
</div>
<br>
<br>
<hr>
<div class="container text-center">
<p><b>Do these 5 things to be safe </b></p>
<ul class="list_group">
<li class="list-group-item list-group-item-warning">1. <strong>HANDS: Wash them often</strong></li>
<li class="list-group-item list-group-item-warning">2. <strong>ELBOW: Cough into it</strong></li>
<li class="list-group-item list-group-item-warning">3. <strong>FACE: Don't touch it</strong></li>
<li class="list-group-item list-group-item-warning">4. <strong>SPACE: Keep safe distance</strong></li>
<li class="list-group-item list-group-item-warning">5. <strong>HOME: Stay if you can</strong></li>
</ul>
</div>
