<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--<meta http-equiv="refresh" content="5" />-->
<div class="container text-center">
<h2><u>COVID stats INDIA</u></h2>
<a href="{%url 'home'%}" class="btn btn-primary">Click to go home</a>
<br>
<br>
<h5><img src="https://toppng.com/uploads/preview/8-bit-caution-symbol-pixel-art-11563001122rkmsc6xjgs.png" width='20'></img> Confirmed cases: {{Total_Cases_India}}</h5>
<h5><img src="https://i.ya-webdesign.com/images/transparent-death-8-bit-9.png" width="20"></img> Deaths: {{Deaths_India}}</h5>
<h5><img src="https://data.whicdn.com/images/81085962/original.png" width='20'></img> Recovered cases: {{Recovered_India}}</h5>
<a href='{%url 'intstats'%}' class="btn btn-warning">Check international stats</a>
</div>
<br>
<br>
<hr>
<div class="container text-center">
<p><b>Do these 5 things to be safe </b></p>
<ul class="list_group">
<li class="list-group-item list-group-item-warning">1. <strong>HANDS: Wash them often</strong></li>
<li class="list-group-item list-group-item-warning">2. <strong>ELBOW: Cough into it</strong></li>
<li class="list-group-item list-group-item-warning">3. <strong>FACE: Don't touch it</strong></li>
<li class="list-group-item list-group-item-warning">4. <strong>SPACE: Keep safe distance</strong></li>
<li class="list-group-item list-group-item-warning">5. <strong>HOME: Stay if you can</strong></li>
</ul>
</div>
<footer>
<h6>By:Harsha</h6>
<img src="https://art.pixilart.com/b02e6db40a44637.png" width="50" height="50"></img><br>
<a href="https://www.linkedin.com/in/sai-sri-harsha-lekharaju-27946341/">LinkedIn</a><br>
<a href="https://github.com/harsharay/">GitHub</a><br>
<p>Thanks for visting</p>
</footer>
