<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container text-center"><h1>States data</h1></div>
<div class="container text-center"><a href="{%url 'home'%}" class="btn btn-primary">Click to go home</a></div>
<br>
<div class="card-columns">
<div class="container text-center">
<div class="card border-danger mb-3" style="width: 18rem;">
  <h3 class="card-body text-info "><b>1.Maharashtra</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Maharashtra_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Maharashtra_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Maharashtra_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Maharashtra_active}}</h5>
</div>
<div class='card border-danger mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>2.Kerala</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Kerala_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Kerala_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Kerala_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Kerala_active}}</h5>
</div>
<div class='card border-danger mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>3.Karnataka</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Karnataka_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Karnataka_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Karnataka_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Karnataka_active}}</h5>
</div>
<div class='card border-warning mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>4.Telangana</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Telangana_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Telangana_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Telangana_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Telangana_active}}</h5>
</div> <div class='card border-warning mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>5.Gujarat</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Gujarat_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Gujarat_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Gujarat_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Gujarat_ac}}</h5>
</div> <div class='card border-warning mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>6.Uttar Pradesh</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Uttar_Pradesh_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Uttar_Pradesh_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Uttar_Pradesh_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Uttar_Pradesh_active}}</h5>
</div> <div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>7.Rajasthan</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Rajasthan_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Rajasthan_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Rajasthan_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Rajasthan_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>8.Delhi</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Delhi_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Delhi_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Delhi_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Delhi_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>9.Haryana</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Haryana_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Haryana_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Haryana_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Haryana_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>10.Punjab</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Punjab_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Punjab_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Punjab_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Punjab_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>11.Tamil Nadu</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Tamil_Nadu_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Tamil_Nadu_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Tamil_Nadu_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Tamil_Nadu_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>12.Madhya Pradesh</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Madhya_Pradesh_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Madhya_Pradesh_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Madhya_Pradesh_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Madhya_Pradesh_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>13.Ladakh</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Ladakh_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Ladakh_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Ladakh_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Ladakh_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>14.J & K</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Jammu_and_Kashmir_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Jammu_and_Kashmir_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Jammu_and_Kashmir_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Jammu_and_Kashmir_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>15.AndhraPradesh</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Andhra_Pradesh_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Andhra_Pradesh_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Andhra_Pradesh_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Andhra_Pradesh_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>16.West Bengal</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{West_Bengal_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{West_Bengal_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{West_Bengal_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{West_Bengal_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>17.Chandigarh</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Chandigarh_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Chandigarh_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Chandigarh_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Chandigarh_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>18.Uttarakand</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Uttarakand_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Uttarakand_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Uttarakand_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Uttarakand_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>19.Bihar</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Bihar_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Bihar_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Bihar_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Bihar_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>20.Himachal</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Himachal_Pradesh_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Himachal_Pradesh_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Himachal_Pradesh_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Himachal_Pradesh_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>21.Chhattisgarh</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Chhattisgarh_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Chhattisgarh_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Chhattisgarh_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Chhattisgarh_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>22.Goa</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Goa_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Goa_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Goa_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Goa_active}}</h5>
</div>
  <div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>23.Odisha</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Odisha_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Odisha_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Odisha_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Odisha_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>24.Puducherry</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Puducherry_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Puducherry_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Puducherry_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Puducherry_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>25.Manipur</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Manipur_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Manipur_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Manipur_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Manipur_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>26.Mizoram</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Mizoram_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Mizoram_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Mizoram_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Mizoram_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>27.Andaman & Nicobar</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Andaman_and_Nicobar_Islands_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Andaman_and_Nicobar_Islands_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Andaman_and_Nicobar_Islands_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Andaman_and_Nicobar_Islands_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>28.Assam</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Assam_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Assam_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Assam_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Assam_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>29.Meghalaya</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Meghalaya_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Meghalaya_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Meghalaya_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Meghalaya_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>30.Tripura</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Tripura_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Tripura_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Tripura_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Tripura_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>31.Arunachal</b>
  <h5 class="card-body text-info">Confirmed cases:{{Arunachal_Pradesh_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Arunachal_Pradesh_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Arunachal_Pradesh_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Arunachal_Pradesh_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>32.Jharkand</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Jharkand_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Jharkand_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Jharkand_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Jharkand_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>33.Nagaland</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Nagaland_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Nagaland_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Nagaland_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Nagaland_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>34.Sikkim</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Sikkim_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Sikkim_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Sikkim_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Sikkim_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>35.Dadra & Nagar</b>
  <h5 class="card-body text-info">Confirmed cases:{{Dadra_and_Nagar_Haveli_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Dadra_and_Nagar_Haveli_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Dadra_and_Nagar_Haveli_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Dadra_and_Nagar_Haveli_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>36.Damana and diu</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Damana_and_diu_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Damana_and_diu_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Damana_and_diu_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Damana_and_diu_active}}</h5>
</div><div class='card border-secondary mb-3' style="width: 18rem;">
  <h3 class="card-body text-info"><b>37.Lakshadweep</b></h3>
  <h5 class="card-body text-info">Confirmed cases:{{Lakshadweep_conf}}</h5>
  <h5 class="card-body text-info">Recovered cases:{{Lakshadweep_recov}}</h5>
  <h5 class="card-body text-info">Deaths:{{Lakshadweep_deaths}}</h5>
  <h5 class="card-body text-info">Active cases:{{Lakshadweep_active}}</h5>
</div>
</div>
</div>
